<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Favicon -->
    <link href="/ckfinder/userfiles/files/public/Logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/assetHome/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assetHome/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/assetHome/css/style.css" rel="stylesheet" />

    <link href="~/Content/assetHome/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Content/assetHome/lib/animate/animate.min.css" rel="stylesheet" />

    @RenderSection("header", required: false)
</head>
<body style="background-image: url('/ckfinder/userfiles/images/public/background.jpg'); background-size: cover; background-position: center;">

    @RenderBody()


    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/ckeditor/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder/ckfinder.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/assetHome/lib/easing/easing.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/assetHome/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/assetHome/mail/contact.js"></script>
    <script src="~/Content/assetHome/lib/easing/easing.js"></script>
    <!-- Template Javascript -->
    <script src="~/Content/assetHome/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

