@model IEnumerable<TechShopWebsite.Models.EF.Cart>
@using Microsoft.AspNet.Identity
@using System.Text;

@{
    ViewBag.Title = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="Home">Home</a>
                <a class="breadcrumb-item text-dark" href="Category">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td class="align-middle">@item.product.productName</td>
                                <td class="align-middle">@(item.cost.ToString("N3").Replace(",", ".") + " VND")</td>
                                <td class="align-middle">
                                    @item.quantity
                                </td>
                                @{
                                    decimal total = item.cost * item.quantity;
                                    string formattedTotal = total.ToString("N3").Replace(",", ".") + " VND";
                                }
                                <td class="align-middle">@(formattedTotal)</td>

                                <td class="align-middle"><button data-id="@item.Id" class="btn btn-sm btn-danger btDelete"><i class="fa fa-times"></i></button></td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                @if (Model != null && Model.Any())
                {
                    decimal total = 0;

                    <div class="border-bottom pb-2">
                        @foreach (var item in Model)
                        {
                            total = total + item.cost * item.quantity;

                            <div class="d-flex justify-content-between mb-3">
                                <h6 class="me-2">
                                    @item.product.productName
                                    <br /> x @item.quantity
                                </h6>
                                <h6>@((item.cost * item.quantity).ToString("N3").Replace(",", ".") + " VND")</h6>
                            </div>
                        }
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">@((total * (decimal)0.05).ToString("N3").Replace(",", ".") + " VND")</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Tổng cộng</h5>
                            <h5>@((total+ (total * (decimal)0.05) ).ToString("N3").Replace(",", ".") + " VND")</h5>
                        </div>
                        @{
                            <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" href="@Url.RouteUrl("AddCheckout")">Proceed To Checkout</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.btDelete', function () {
                var id = $(this).data('id');
                var conf = confirm('Are you sure delete');
                if (conf === true) {
                    $.ajax({
                        url: '/Cart/DeleteCart',
                        type: 'Post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                location.reload();
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("error");
                        }
                    });
                }
            });
        });
    </script>
}